# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Django
*.log

db.sqlite3
media/
node_modules/

# Static files
staticfiles/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/


.idea/